body {
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 30px;
  line-height: 39px
}

h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 32px;
  line-height: 42px
}

h3 {
  font-size: 18px
}

a {
  color: #004E9E;
  text-decoration: none
}

p {
  hyphens: auto;
  padding-bottom: 10px;
}

.green-headline {
  color: #84B815;
}

.subtitle {
  font-size: 20px;
  line-height: 27px;
}