body {
  -webkit-font-smoothing: antialiased;
  font-family: DinPro;
}

h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 57px;
  padding: 0 80px;
  color: #5A5A5A;
  margin: 40px 0 20px;
}

h2 {
  font-size: 30px;
  line-height: 39px;
  font-weight: 500;
  font-family: DinPro;

}

h4 {
  font-size: 20px;
  line-height: 27px;
  padding-bottom: 10px;
  margin: 13px 0;
  font-weight: 500;
}

a {
  color: #84B815;
  text-decoration: none
}

p {
  hyphens: auto;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.green {
  color: #84B815;
}

.black {
  color: #000;
}

.green-bg {
  background-color: #ECF5DC
}

.blue-bg {
  background-color: #DCECF2;
}

.grey-bg {
  background-color: #DADADA;
}

.bold {
  font-weight: bold;
}

.no-margin {
  margin: 0;
}

.info-header {
  margin: 20px 0 !important;
  padding: 0 !important;
}

.custom-image img {
  position: relative !important; 
  margin-bottom: -74px !important;
}

.image-cta-text{
  padding: 0 80px;
}

.footer-text {
  color: white;
  font-size: 14px;
  line-height: 18px;
}

.security-border {
  border-left: solid 3px #84B816;
}