body {
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 30px;
  line-height: 39px
}

h2 {
  font-size: 30px;
  line-height: 39px
}

h3 {
  font-size: 18px
}

a {
  color: #004E9E;
  text-decoration: none
}

p {
  hyphens: auto;
  padding-bottom: 10px;
}

.green {
  color: #84B815;
}

.green-bg {
  background-color: #ECF5DC
}

.blue-bg {
  background-color: #DCECF2
}

.grey-bg {
  background-color: #DADADA;
}

.subtitle {
  font-size: 20px;
  line-height: 27px;
}

.security-text {
  padding-left: 18px !important;
}

.custom-image img {
  position: relative !important; 
  margin-bottom: -70px !important;
}

.cta-header {
  font-size: 50px;
  padding: 0 50px;
  line-height: 55px;
  font-weight: lighter;
  color: #5A5A5A;
}